#Data Types

element at the end of the list

clear() Removes all the elements from the list

copy() Returns a copy of the list

count() Returns the number of elements with the specified value

extend() Add the elements of a list to the end of the current list

index() Returns the index of the first element with the specified value

insert() Adds an element at the specified position

pop() Removes the element at the specified position 

remove() Removes the item with the specified value

reverse() Reverses the order of the lsit

sort() Sorts the list

In [6]:
fruits=['apple','banana','cherry']

In [2]:
fruits1=('apple','banana','cherry')

In [3]:
fruits[0]='orange'

In [7]:
fruits

['apple', 'banana', 'cherry']

In [5]:
fruits1

('apple', 'banana', 'cherry')

In [8]:
fruits2=('apple',)

In [9]:
type(fruits2)

tuple

In [10]:
trail=("apple","banana","cherry","grapes","kiwi","watermelon")

In [11]:
trail[2:]

('cherry', 'grapes', 'kiwi', 'watermelon')

In [18]:
if 'banana' in fruits1:
    print("banana is in the tuple")

banana is in the tuple

In [14]:
tuple_1=("apple","banana","cherry")

In [15]:
list_1=list(tuple_1)

In [17]:
list_1[0]='kiwi'

In [19]:
tuple_1=tuple(list_1)

In [20]:
tuple_1

('kiwi', 'banana', 'cherry')

In [21]:
tuple_2 = trail + tuple_1

In [22]:
tuple_2

('apple',
 'banana',
 'cherry',
 'grapes',
 'kiwi',
 'watermelon',
 'kiwi',
 'banana',
 'cherry')

# Set : Unordered Collection of unique elements it won't have duplicate values

Buit-In methods - add(),remove(),union()

In [23]:
my_set={1,2,3,4,3,5}

In [24]:
my_set

{1, 2, 3, 4, 5}

In [25]:
my_set1={4,5,6,7}

In [26]:
my_set2=my_set.union(my_set1)

In [27]:
my_set2

{1, 2, 3, 4, 5, 6, 7}

In [30]:
set1={1,2,3}
set2={3,4,5}

In [31]:
set3=set1.intersection(set2)
print(set3)

{3}

In [32]:
set4=set1.difference(set2)

In [33]:
set4

{1, 2}

In [34]:
set5=set2.difference(set1)

In [35]:
set5

{4, 5}

In [36]:
my_list=[1,2,3,4,5]
my_set=set(my_list)
unique_list=list(my_set)
print(unique_list)

[1, 2, 3, 4, 5]